/*
          _                         _    
__      _| | ___   __ _  ___  _   _| |_  
\ \ /\ / / |/ _ \ / _` |/ _ \| | | | __| 
 \ V  V /| | (_) | (_| | (_) | |_| | |_  
  \_/\_/ |_|\___/ \__, |\___/ \__,_|\__| 
                  |___/                  
 
by NLeLoc (2025) 
----------------------------------------------------- 
*/

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	transition: 500ms;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.8);
}

button {
	color: #FFFFFF;
    font-size:16px;

    background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-style: solid;
	border: 3px solid #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

button:focus,
button:active,
button:hover {
    color: #FFFFFF;
	border: 3px solid #FFFFFF;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
	border-radius: 35px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	border-radius: 35px;
	background-image: image(url("icons/logout.png"));
}

#shutdown {
	border-radius: 35px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	/*margin: 10px; */
	border-radius: 35px;
	background-image: image(url("icons/reboot.png"));
}

#sleep {
	border-radius: 35px;
	background-image: image(url("icons/sleep.png"));
}

#exit {
	border-radius: 35px;
	background-image: image (url("icons/cancel.png"));
}
